body{
    font-size: 20px;
    font-family: Arial, sans-serif ;
    background-color: rgb(42, 42, 42);
}

img{
    margin-top: 20px;
}

p{
    font-size: 13px;
    color: white;
    margin-left: 50%;
    margin-bottom: 20px;


}

